.button{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-background-color: DARKSALMON
}


.border {
	-fx-background-image: url('https://pressstart.vip/images/uploads/assets/bluemoon.png');
}


.border {
	-fx-background-image: url('https://pressstart.vip/images/uploads/assets/cityskyline.png');
}


